/* CSS Document */

@charset "UTF-8";

/********************************************/
/* トップページ用                           */
/********************************************/

/*==========================================*/
/* スライドショー */



/*==========================================*/
/* コンテンツ */



/*==========================================*/
/* ニュース */



/********************************************/
/* Odds and Ends                           */
/********************************************/



/********************************************/
/* JOURNAL                                  */
/********************************************/



/********************************************/
/* about                                    */
/********************************************/

/* IE8 */
#pageAbout #contents #aboutSection .ja{
	letter-spacing:1px;
	line-height:21px;
	font-size:12px;
	margin-bottom:-2px;
}
#pageAbout #contents #directorSection .ja{
	letter-spacing:0px;
	line-height:21px;
	font-size:12px;
	margin-bottom:-2px;
}
