/* CSS Document */

@charset "UTF-8";

/********************************************/
/* トップページ用                           */
/********************************************/

/*==========================================*/
/* スライドショー */



/*==========================================*/
/* コンテンツ */



/*==========================================*/
/* ニュース */



/********************************************/
/* Odds and Ends                           */
/********************************************/


/********************************************/
/* JOURNAL                                  */
/********************************************/



/********************************************/
/* about                                    */
/********************************************/

/* IE9 */
#pageAbout #contents #aboutSection .ja{ 
	letter-spacing:0px;
	font-size:12px;
	line-height:21px;
	margin-bottom:-4px;
}
#pageAbout #contents #directorSection .ja{ 
	letter-spacing:0px\9;
	font-size:12px\9;
	line-height:21px\9;
	margin-bottom:-4px\9;
}
